.section-hero {
  position: relative;
  height: auto;
  background-color: #fff;
  background-image: url(../../assets/img/bg-hero.svg);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 7em 0;
}

@media (max-width: 500px) {
  .section-hero {
    position: relative;
    height: auto;
    padding: 3em 0;
    background-color: #fff;
    background-image: url(../../assets/img/bg-hero.svg);
    background-position: top right;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }
}

body {
  font-family: 'Montserrat';
  background-color: #fff;
}

.judul-huge {
  font-size: 38px;
  line-height: 1.3;
  font-weight: 500;
  color: #111;
}

@media (max-width: 576px) {
  .judul-huge {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    color: #111;
  }
  .div-fitur {
      padding: 0;
  }
}

.judul-huge span {
  font-weight: 700;
  margin-right: 10px;
}

.list-hero {
  padding: 0;
  margin-bottom: 25px;
}

@media (max-width: 500px) {
  .list-hero {
    padding: 10px 0;
    margin-bottom: 10px;
  }
}

.list-fitur-hero {
  font-size: 15px;
}

@media (max-width: 576px) {
  .list-fitur-hero {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.list-fitur-hero li {
  padding: 10px 0;
  margin: 10px auto;
  font-weight: 500;
}

@media (max-width: 576px) {
  .list-fitur-hero li {
    padding: 5px 0;
    margin: 0px auto;
    text-transform: capitalize;
    font-weight: 500;
  }
  .div-fitur img {
      width: 25px;
      height: 25px;
  }
}

.div-fitur {
    display: flex;
    align-items: top;
    padding:5px 0;
}

.div-fitur img {
    width: 30px;
    min-width: 30px;
    margin-right: 10px;
}
.div-fitur p {
    margin: 0;
    font-size: 15px;
}

.widget-video {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
}
.widget-video iframe {
    border-radius: 6px;
}


.link-cta {
  text-transform: capitalize;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #e12a2a;
  border-radius: 50px;
  color: #e12a2a;
  font-weight: 500;
  display: inline-block;
  text-decoration: none !important;
  transition: .2s;
}

@media (max-width: 576px) {
  .link-cta {
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 10px;
    border: 2px solid #e12a2a;
    border-radius: 50px;
    color: #e12a2a;
    font-weight: 600;
    display: inline-block;
    text-decoration: none !important;
    transition: .2s;
  }
  .link-cta.top-hd {
      margin: 15px auto;
  }
}

.link-cta:hover {
  background-color: #e12a2a;
  color: rgba(255,255,255,0.8);
}

.section-default {
  position: relative;
  height: auto;
  padding: 5em 0;
  display: flex;
}

@media (max-width: 500px) {
  .section-default {
    position: relative;
    height: auto;
    padding: 2em 0 5em 0;
    display: flex;
  }
}

.section-faq {
  position: relative;
  height: auto;
  padding: 5em 0;
  display: flex;
  align-items: center;
}

.bg-gradient {
  background: linear-gradient(0deg, rgba(191,234,255,1) 0%, rgba(29,122,205,1) 100%);
  position: relative;
}

.gradien-testi {
  background-color: #98D5D4;
  background: linear-gradient(0deg, #98D5D4 0%, #65A6DA 100%) !important;
  position: relative;
}

.gradien-pricelist {
  background-color: #98D5D4;
  background: linear-gradient(0deg, #1D7ACD 0%, #BFEAFF 100%) !important;
  position: relative;
  z-index: 5;
}

/*@media (max-width: 500px) {*/
/*  .section-hero:after {*/
/*    content: '';*/
/*    height: 150px;*/
/*    position: absolute;*/
/*    top: 99%;*/
/*    width: 100%;*/
/*    background-image: url(../../assets/img/ofset-wafe.svg);*/
/*    left: 0;*/
/*    right: 0;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 1;*/
/*    background-size: cover;*/
/*    background-position: top center;*/
/*  }*/
/*}*/

/*.section-hero:after {*/
/*  content: '';*/
/*  height: 250px;*/
/*  position: absolute;*/
/*  top: 99%;*/
/*  width: 100%;*/
/*  background-image: url(../../assets/img/ofset-wafe.svg);*/
/*  left: 0;*/
/*  right: 0;*/
/*  background-repeat: no-repeat;*/
/*  z-index: 1;*/
/*  background-size: 100%;*/
/*  background-position: top center;*/
/*}*/

.judul-section {
  font-size: 44px;
  display: block;
}

.bg-gradient .judul-huge {
  color: #fff;
}

.flow-gambar {
  width: 80%;
  margin: 25px auto;
  background-color: #fff;
  position: relative;
  padding: 0 25px;
  border-radius: 10px;
  display: block;
}

@media (max-width: 500px) {
  .flow-gambar {
    width: 100%;
    margin: 10px auto;
    background-color: #fff;
    position: relative;
    padding: 0 10px;
    border-radius: 100px;
    display: block;
  }
}

.flow-gambar img {
  width: 100%;
  margin-top: -50px;
}

@media (max-width: 500px) {
  .flow-gambar img {
    width: 100%;
    margin-top: -25px;
  }
}

.section-default .bg-over {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.section-default .container {
  z-index: 50;
}

.separator-wafe {
  width: 100%;
  position: absolute;
  bottom: 99%;
  z-index: 50;
  left: 0;
  right: 0;
}

.indikator-slide {
  position: relative;
  right: 0;
  bottom: auto;
  top: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  padding-left: 0;
  margin-right: auto;
  margin-left: 0;
  list-style: none;
  align-items: center;
}

.indikator-slide li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-indent: initial;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #26a0da;
  background-clip: padding-box;
  border-top: none;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 50px;
  transition: scale .4s ease;
}

.indikator-slide .active {
  opacity: 1;
  background-color: #e12a2a;
  transform: scale(1.2);
  font-size: 18px;
  font-weight: 600;
  margin: auto 5px;
}

.sm {
  padding: 5px 15px;
  font-size: 16px;
}

.slide-faq {
  padding: 25px 0;
  min-height: 300px;
}

.slide-faq .carousel-item p {
  color: #094B68;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.slide-faq .carousel-item h3 {
  color: #094B68;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.indikator-slide li span {
  color: #fff;
  z-index: 5;
  text-indent: initial;
}

.section-testimoni {
  position: relative;
  padding: 5em 0;
  display: flex;
}

@media (max-width: 500px) {
  .section-testimoni {
    position: relative;
    padding: 3em 0;
    display: flex;
  }
}

.section-testimoni .container {
  z-index: 50;
}

.link-testi {
  position: relative;
  border-radius: 14px;
  width: 100%;
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #094B68;
  padding-left: 15px;
}

.promo-dorong {
    max-width: 100%;
}

@media (max-width: 576px) {
  .link-testi {
    position: relative;
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #094B68;
    padding-left: 10px;
  }
  .promo-dorong {
      max-width: 100%;
  }
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

.link-testi span {
  font-size: 12px;
  display: block;
  font-weight: 400;
}

.testi-blok-link {
  align-items: center;
  display: flex;
}

.img-testi {
  width: 60px;
  height: 60px;
  background-color: #1d7acd;
  border-radius: 60px;
  min-width: 60px;
  margin-left: -45px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .img-testi {
    width: 50px;
    height: 50px;
    background-color: #1d7acd;
    border-radius: 50px;
    min-width: 50px;
    margin-left: -35px;
    overflow: hidden;
  }
}

.list-testi li {
  margin-left: 40px;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

@media (max-width: 500px) {
  .list-testi li {
    margin-left: 25px;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 15px;
  }
}

.inner-clp {
  margin-left: 30px;
  padding: 10px;
  background-color: #eaeaea;
  margin-bottom: 10px;
  margin-right: 10px;
}

.inner-clp p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.fill {
  background-color: #e12a2a;
  color: #fff;
}

.section-testimoni:after {
  position: absolute;
  content: '';
  z-index: 1;
  bottom: 0;
  height: 35%;
  left: 0;
  right: 0;
  background-image: url(../../assets/img/city.svg);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 50%;
}

.line-kapal {
  position: absolute;
  height: 60px;
  z-index: 50;
  width: 100%;
  background-color: #3499CC;
  bottom: 0;
}

@media (max-width: 500px) {
  .line-kapal {
    position: absolute;
    height: 40px;
    z-index: 50;
    width: 100%;
    background-color: #3499CC;
    top: 100%;
  }
}

.line-kapal img {
  height: 200px;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

@media (max-width: 500px) {
  .line-kapal img {
    height: 80px;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
}

.section-promo {
  padding: 3em 0;
  position: relative;
  /*background: #fff;*/
}

@media (max-width: 500px) {
  .section-promo {
    padding-top: 5em;
    position: relative;
    /*background: #fff;*/
  }
}

/*.section-promo:after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  height: 150px;*/
/*  width: 100%;*/
/*  left: 0;*/
/*  display: block;*/
/*  right: 0;*/
/*  top: 98%;*/
  /*bottom: 0;*/
/*  background-image: url(../../assets/img/wave-2_1.png);*/
/*  background-repeat: no-repeat;*/
/*  z-index: 20;*/
/*  background-size: 100%;*/
/*  background-position: top;*/
/*}*/

.text-promo {
  text-align: right;
  padding: 10px 25px;
}

@media (max-width: 500px) {
  .text-promo {
    text-align: center;
    padding: 10px 25px;
  }
}

.section-pricelist {
  padding: 5em 0;
  position: relative;
}

.gradien-pricelist .container {
    z-index: 50 !important;
    position: relative;
}

@media (max-width: 500px) {
  .section-pricelist {
    padding: 2.5em 0;
    position: relative;
  }
}

.z-front {
  z-index: 50;
  position: relative;
}

.karosel-harga {
  padding: 0 10px;
}

.item-harga {
  text-align: center;
  display: block;
  width: 220px;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 12px;
  height: 250px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .item-harga {
    text-align: center;
    display: block;
    width: 125px;
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 12px;
    height: 180px;
    overflow: hidden;
  }
}

.item-harga img {
  width: auto !Important;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
  height: 100px !important;
}

@media (max-width: 500px) {
  .item-harga img {
    width: auto !Important;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    height: 50px !important;
  }
}

.item-harga h1 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 500px) {
  .item-harga h1 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }
}

.item-harga p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  display: block;
}

@media (max-width: 500px) {
  .item-harga p {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    display: block;
  }
}

.item-harga p span {
  /*display: inline-block;*/
  font-size: 85%;
  position: relative;
}

.item-harga p span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  background-color: red;
  width: 100%;
  left: 0;
  right: 0;
}

.owl-carousel .owl-item {
  transform: scale(.8) !important;
}

.owl-carousel .owl-item.active.center {
  transform: scale(1) !important;
}

.owl-dots {
  display: none;
}

.owl-nav {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 30%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.owl-prev, .owl-next {
  color: #fff !important;
  font-size: 50px !important;
  font-weight: 700 !important;
  width: 25px;
  text-align: center;
}

@media (max-width: 500px) {
  .owl-next {
    margin-right: -5px !important;
  }
}

.owl-next {
  margin-right: -35px;
}

@media (max-width: 500px) {
  .owl-prev {
    margin-left: -5px !important;
  }
}

@media (max-width: 500px) {
  .owl-carousel .owl-stage {
    margin-left: -5px;
  }
}

.owl-prev {
  margin-left: -25px;
}

@media (max-width: 500px) {
  .slide-faq .carousel-item img {
    width: 50% !important;
    margin: 15px auto;
    display: block;
  }
}

@media (max-width: 500px) {
  .indikator-slide li {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .indikator-slide {
    text-align: center;
    justify-content: center;
  }
}

.section-pricelist:after {
  content: '';
  position: absolute;
  z-index: 10;
  background-image: url(../../assets/img/city.svg);
  height: 100%;
  width: 100%;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom;
}

.section-kalkulator {
  position: relative;
  padding-top: 5em;
  padding-bottom: 20px;
  background: url(../../assets/img/bg-calc.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.form-kalkulator {
  padding: 20px;
  background-color: #3499cc;
  border-radius: 18px;
  color: #fff;
  margin-bottom: 25px;
}

@media (max-width: 500px) {
  .form-kalkulator {
    padding: 15px 10px;
    background-color: #3499cc;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 25px;
  }
}

.form-control {
  background: #fff;
  border: 0;
  border-radius: 50px;
  height: 50px;
}

.form-gr label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 576px) {
  .form-gr label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }
}

.form-gr {
  margin-bottom: 15px;
}

.border-50 {
  border-radius: 50px;
}

.form-hasil {
  padding: 20px;
  border-radius: 18px;
  border: 3px solid #3499cc;
}

@media (max-width: 500px) {
  .form-hasil {
    padding: 15px;
    border-radius: 18px;
    border: 3px solid #3499cc;
  }
}

.form-hasil-inner {
  border-radius: 18px;
  background: #fff;
  padding: 10px;
  border: 3px solid #3499cc;
}

.section-contact {
  position: relative;
  padding-top: 5em;
  padding-bottom: 10em;
  background: linear-gradient(0deg, #65A6DA 0%, #98D5D4 100%) !important;
}

.section-contact .of-sep {
  position: absolute;
  top: -10px;
  width: 100%;
}

.form-contact input {
  border-radius: 2px;
}

.form-contact .input-group {
  background-color: #fff;
  margin-bottom: 5px;
}

.input-group-text {
  background-color: #fff;
  border: none;
  color: #3499cc;
  font-size: 20px;
}

.section-contact:after {
  content: '';
  height: 80%;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../assets/img/bg-contact_1.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  z-index: 5;
}

.section-contact .container {
  position: relative;
  z-index: 10;
}

@media (max-width: 576px) {
  .section-contact .container {
    position: relative;
    z-index: 10;
    padding-top: 0em;
  }
}

.float-whatsapp i {
  overflow: hidden;
  display: flex;
  width: 70px;
  height: 70px;
  min-width: 70px;
  text-align: center;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  background-color: #15be59;
  color: #fff;
  border-radius: 70px;
  transition: .3s;
  z-index: 999;
  position: absolute;
  left: 5px;
}

.float-whatsapp:hover {
  width: 330px;
  -webkit-box-shadow: 0px 25px 32px -1px rgba(6,118,51,0.25);
  -moz-box-shadow: 0px 25px 32px -1px rgba(6,118,51,0.25);
  box-shadow: 0px 25px 32px -1px rgba(6,118,51,0.25);
}

@media (max-width: 576px) {
  .float-whatsapp:hover {
    width: 330px;
    -webkit-box-shadow: 0px 25px 32px -1px rgba(6,118,51,0.25);
    -moz-box-shadow: 0px 25px 32px -1px rgba(6,118,51,0.25);
    box-shadow: 0px 25px 32px -1px rgba(6,118,51,0.25);
  }
}

.float-whatsapp {
  background-color: #f3fff8;
  padding: 5px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 999;
  overflow: hidden;
  display: flex;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  color: #333;
  border-radius: 100px;
  transition: width .3s;
  z-index: 999;
  -webkit-box-shadow: 0px 25px 32px -1px rgba(6,6,6,0.42);
  -moz-box-shadow: 0px 25px 32px -1px rgba(6,6,6,0.42);
  box-shadow: 0px 25px 32px -1px rgba(6,6,6,0.42);
}

.float-whatsapp .tcl {
  font-size: 15px;
  width: 100%;
  margin: 0;
  left: 80px;
  display: block;
  position: absolute;
  color: #067633;
  text-align: left;
  opacity: 0;
}

.float-whatsapp .tcl p {
  margin: 0;
  line-height: 1.2;
}

.float-whatsapp:hover .tcl {
  opacity: 1;
}

.img-testi img {
  width: 100%;
}

@media (max-width: 576px) {
  .float-whatsapp {
    right: 10px;
    bottom: 10px;
    left: auto;
  }
  .thanks-inner {
      width: 100% !important;
  }
  .thanks-inner h1 {
      font-size: 32px !important;
  }
  .thanks-inner h3 {
      font-size: 16px;
      margin-bottom: 15px;
  }
}

/*Halaman Terima Kasih*/
.section-thanks {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../../assets/img/bg-hero.svg), linear-gradient(0deg, rgba(191,234,255,1) 0%, rgba(29,122,205,1) 100%);
    display: flex;
    align-items: center;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.thanks-inner {
    text-align: center;
    color: #fff;
    width: 70%;
    margin: auto;
    padding: 25px 15px;
    background-color: rgba(255, 255, 255, 0.15);
}
.thanks-inner hr {
    width: 50px;
}
.thanks-inner h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
}
.thanks-inner h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
}
